# Visual Studio Temporary Files
.vs/
*.vsidx
*.suo
*.user

# Executables and object files
*.exe
*.obj
*.ilk
*.pdb
*.ipch
*.tlog
*.lastbuildstate

# Visual Studio Solution and Project Files
*.sln
*.vcxproj.user

# Temporary files and build artifacts
Debug/
Release/
x64/
fftw-3.3.5-dll64/
glew-2.1.0/
glfw-3.4.bin.WIN64
json-develop/