# Archivos y carpetas generados por Visual Studio y el sistema
.vs/
x64/
*.vcxproj.user
*.vcxproj.filters

# Librerías externas
# Se recomienda gestionar estas con un gestor de paquetes (como vcpkg)
# y no subirlas al repositorio.
fftw-3.3.5-dll64/
glew-2.1.0/
glfw-3.4.bin.WIN64/
json-develop/